<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{filename}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>
        here i want to show the data from {{file[0]}}
    </h1>
    <pre>
    {% for k,v in file[1].items() %}
        <h2>{{k}}</h2>
        <h3>{{v}}</h3>
       
    {% endfor %}
    </pre>
</body>
</html>