<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{filename}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>
        here i want to show the data from {{file[0]}}
    </h1>
    <pre>
    {%set o=1%}
    {% for i in file[1] %}
        <h2>{{loop.index}}{{ i['name'] }}</h2>
        <table>
        {%for k in key:%}
        <th>{{ k }}</th>
        {% endfor %}
        {% for j in i['columns'] %}
            <tr>
                {%for k in key%}
                    {% if k in j.keys() %}
                    <td>{{ j[k] }}</td>
                    {% else %}
                    <td>-</td>
                    {% endif %}
                {% endfor %}
            </tr>

        {% endfor %}
    </table>
    {%set o=o+1%}
    {% endfor %}
    </pre>
</body>
</html>